/**
 * $GRID VARIABLES
 */

/*Override default settings here*/

$mobile:320px;
$largephone:400px;
$smalltab:500px;
$tab: 760px;
$desk:900px;
$aside: 1085px;
$bannerstop: 1200px;
$bigdesk: 1300px;
$max-content: 1500px;
$pre-max: max-width 1499px;
$onlysmall:max-width 759px;
$pre-desk:max-width 899px;
$mobilemega:max-width 979px;
$megadesk:min-width 980px;

