{#
/**
 * @file
 * Default theme implementation for a ixm dashboard ajax display.
 *
 * Available variables:
 * - display: The display render array.
 * - title: The display title.
 *
 * @ingroup themeable
 */
#}
<div class="display-container container">
  <h2 class="display-title">{{ title }}</h2>
  {{ display }}
</div>
