
<div class="jumbo">
    {{ content.top }}
</div>

<dis class="ewrapper">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">

		</div>
	  </div>
	  <div class="row">
		<div class="col-md-3">
			{{ content.left }}
		</div>
		<div class="col-md-9">
			<aside class="sidebar">
			{{ content.right }}
		  </aside>
		</div>
	  </div>
	</div>
</div>