//style tweaks
.block--tile-grid {
  &.Left {
    .grid {
      .medium_grd{
        height: 269px;
      }
    }
  }
}

.grid {
  height: 600px;
  margin: calc(1.0/14*100%) calc(1.0/14*100%) calc(1.0/14*100%) calc(1.0/14*100%);
  .field--name-field-button-item {
    a.tile-link{
      &:hover {
        filter: brightness(85%);
        transition: all 2s ease-in-out;

        .openedu-stat, .open-edu-stat-large{
          transform: scale(1.25);
          transition: all 3s ease-in-out;
        }

      }

    }
    .grid-item {
      &:hover {
        filter: brightness(85%);
        transition: all 2s ease-in-out;

        .openedu-stat{
          transform: scale(1.2);
          transition: all 3s ease-in-out;
        }
        .openedu-stat-large{
          transform: scale(1.1);
          transition: all 3s ease-in-out;
        }
        .expand {
          transform: scale(1.2);
          transition: all 3s ease-in-out;
        }

      }
      .field--name-field-body {
        .site-tag-gry{
          a{
            transform: none;
            padding-bottom:0px;
            color:#ffffff;
          }
        }

        a{
          text-decoration: none;
          padding-bottom: 4px;
          color:inherit;

        }
      }
      float: left;
      float: left;
      transition: all 1s;
      height: 270px;
      background: #c09;
      overflow: hidden;
      padding: calc(20px);
      .img-responsive{
        margin: auto;
      }
      .field--name-field-extended-body{
        //display: none;
      }
      &.is-expanded{

      }

      .node--view-mode-full-static-{
        text-align: left;
      }
      .openedu-stat-small{
        color:inherit;
      }
      .openedu-stat-med{
        color:inherit;
      }
    }
    .tall_grd{
      height:  850px;
      background:#ccc;
    }
    .medium_grd{
      height: 270px;
      background: #ccd;
    }
    .medium-tall_grd{
      height: 560px;
      background: #ccd;
    }
    .grid-item--width1{
      width:300px;
    }
    .grid-item--width2{
      width: 620px;
    }

    .button-grid{
      text-align: center;
      display: table;
      .field--name-field-body{
        display: table-cell;
        vertical-align: middle;
      }
    }

  }
}

.grid-sizer{
  width: 300px;
}
.grid-item{
  width: 100%;
}
.gutter-sizer{
  width: 20px;
}
.grid{
  margin: auto;
  max-width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and(max-width:640px){
  .grid-sizer{
    width: 300px;
  }
  .grid-item{
    width: 90%;
  }
  .gutter-sizer{
    width: 20px;
  }
  .grid {
    width:100%;
    .field--name-field-button-item{
      .grid-item--width2 {
        width: 300px !important;
      }
    }
  }
}
@media screen and(min-width:640px){

  .grid{
    max-width:640px;
  }
}

@media screen and(min-width:940px){

  .grid{
    max-width:960px;
  }
}
@media screen and(min-width:1281px){
  .grid{
    max-width:1280px;
  }
}

@media screen and(min-width:1281px){
  .grid{
    margin: auto;
    max-width:1280px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
