.paragraph--type--buttons{
  .field.field--name-field-link .field--item a {
    float: left;
    margin-left: 16px;
    margin-bottom: 12px;
    @extend .btn-cta;
  }
  &.call-out{
    .field.field--name-field-link .field--item a{
      @extend .call-out
    }
  }
  &.extended{
    .field.field--name-field-link .field--item a{
      background:$brand-success;
    }
  }
  .field--name-field-title{
    @extend h2;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
