.paragraph--type--news-items {
  .field--name-field-title{
    @extend h2;
    color: $primary;
  }
  .content {
    @extend .row;
    @include media-breakpoint-up(md) {
      border-right: 5px solid transparent;
      &:hover {
        border-right: 5px solid $info;
      }
    }
    .image {
      @extend .col-sm-3;
      @include media-breakpoint-up(md) {
        padding-right: 0;
      }
      margin-bottom: 1em;
      img {
        width: 100%;
      }
    }
    .wrapper {
      @extend .col-sm-9;
      color: #fff;

      h2 {
        margin: 5px auto;
        font-size: 1.375em;
        color:#fff;
        a {
          color:$secondary;
          text-decoration: none;
          &:hover {
            color: $info;
          }
        }
      }
      .field--name-field-news-date {
        font-style: italic;
        font-size: 0.875em;
        margin-bottom: 5px;
      }
      .field--name-body {
        display: none;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }
    }
  }
}