//General Colors
$earth-brown    : #735429;
$light-blue     : #337ab7;
$darkblue       : #032f58;
$olive-green    : #f5f5f5;
$dark-gray      :    #333;
$midgrey        : #7f7d7e;
$grey           : #606060;

$transparent-white  : rgba(255,255,255,0.7);
$trans-white-lt     : rgba(255,255,255,0.4);
$transparent-black  : rgba(35,35,35,0.35);
$transparent-dkblack : rgba(35,35,35,0.7);
$image-overlay      : rgba(35,35,35,0.2);
$gradient-top     :  rgba(0,0,0,0);
$gradient-bottom  :  rgba(0,0,0,0.5);

//Link COLORS
$link : $light-blue;
$hover-link  :  $midgrey;


//admin-buttons
$admin-grey : #D3CFCC; 