section.subsection {
  #views-exposed-form-event-latest-events-block {
    .form-item-field-event-date-value,
    .form-item-field-event-date-end-value {
      display: none;
    }

    .form-item-search {
      font-style: italic;

      @include media-breakpoint-up(md) {
        float: none;
        display: block;
      }
    }

    #edit-actions {
      flex: 1;

      @include media-breakpoint-up(md) {
        flex: none;
      }
    }

    .form-submit {
      width: 100%;
      padding: 5px 20px;
    }

    .chosen-single {
      font-weight: 600;
    }
  }
}
